{
  "openapi": "3.0.4",
  "info": {
    "title": "MinSalud.SIIFA.API.Contrato",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://siifa.sispropreprod.gov.co/siifacon"
    }
  ],
  "paths": {
    "/api/CodigoReferencia/GetByNombreDominio/{NombreDominio}": {
      "get": {
        "tags": [
          "CodigoReferencia"
        ],
        "parameters": [
          {
            "name": "NombreDominio",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.CodigoReferencia.Queries.ListCodigoReferenciaByNombreDominio_Result"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.CodigoReferencia.Queries.ListCodigoReferenciaByNombreDominio_Result"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.CodigoReferencia.Queries.ListCodigoReferenciaByNombreDominio_Result"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/CodigoReferencia/GetByIdDominio/{IdDominio}": {
      "get": {
        "tags": [
          "CodigoReferencia"
        ],
        "parameters": [
          {
            "name": "IdDominio",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.CodigoReferencia.Queries.ListCodigoReferenciaByIdDominio_Result"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.CodigoReferencia.Queries.ListCodigoReferenciaByIdDominio_Result"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.CodigoReferencia.Queries.ListCodigoReferenciaByIdDominio_Result"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Contrato": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Obtiene la lista de contratos con filtros opcionales.",
        "description": "Permite filtrar por IdContrato, NitContratante, NitContratista, Nombre, Código de Estado, Año de Suscripción, Número de Página y Registros por Página.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "NitContratante",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NitContratista",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Nombre",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CodigoEstado",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AnioSuscripcion",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "NumeroPagina",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RegistrosPorPagina",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PaginadorGenerico_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginadorGenerico_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginadorGenerico_Result"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contrato"
        ],
        "summary": "Agrega un nuevo contrato.",
        "description": "Este endpoint permite registrar un nuevo contrato en el sistema.",
        "requestBody": {
          "description": "Comando que contiene los datos del contrato a agregar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContrato_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContrato_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContrato_Command"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contrato agregado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContrato_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos para el contrato.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor."
          }
        }
      },
      "put": {
        "tags": [
          "Contrato"
        ],
        "summary": "Edita un contrato existente.",
        "description": "Este endpoint permite actualizar la información de un contrato existente.",
        "requestBody": {
          "description": "Comando que contiene los datos del contrato a editar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContrato_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContrato_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContrato_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contrato editado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContrato_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos para el contrato.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contrato no encontrado.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor."
          }
        }
      }
    },
    "/api/Contrato/{IdContrato}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Obtiene los detalles de un contrato específico por su ID.",
        "description": "Este endpoint devuelve información detallada de un contrato específico.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalles del contrato obtenidos exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Queries.DetailContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Queries.DetailContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Queries.DetailContrato_Result"
                }
              }
            }
          },
          "404": {
            "description": "Contrato no encontrado.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor."
          }
        }
      },
      "delete": {
        "tags": [
          "Contrato"
        ],
        "summary": "Elimina un contrato por su ID.",
        "description": "Este endpoint permite eliminar un contrato específico del sistema.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contrato eliminado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.DeleteContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.DeleteContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.DeleteContrato_Result"
                }
              }
            }
          },
          "404": {
            "description": "Contrato no encontrado.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor."
          }
        }
      }
    },
    "/api/ContratoAnticipo/ByIdContrato/{IdContrato}": {
      "get": {
        "tags": [
          "ContratoAnticipo"
        ],
        "summary": "Obtiene la lista de anticipos asociados a un contrato específico.",
        "description": "Este endpoint permite consultar todos los anticipos registrados para un contrato, filtrando por el identificador del contrato.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de anticipos obtenida exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Queries.ListContratoAnticipoByIdContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Queries.ListContratoAnticipoByIdContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Queries.ListContratoAnticipoByIdContrato_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontraron anticipos para el contrato especificado."
          }
        }
      }
    },
    "/api/ContratoAnticipo/{IdContratoAnticipo}": {
      "get": {
        "tags": [
          "ContratoAnticipo"
        ],
        "summary": "Obtiene el detalle de un anticipo de contrato por su identificador.",
        "description": "Este endpoint devuelve la información detallada de un anticipo de contrato específico, incluyendo valores, fechas y referencias.",
        "parameters": [
          {
            "name": "IdContratoAnticipo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle del anticipo obtenido exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Queries.DetailContratoAnticipo_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Queries.DetailContratoAnticipo_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Queries.DetailContratoAnticipo_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el anticipo solicitado."
          }
        }
      },
      "delete": {
        "tags": [
          "ContratoAnticipo"
        ],
        "summary": "Elimina un anticipo de contrato por su identificador.",
        "description": "Este endpoint permite eliminar un anticipo de contrato existente, identificándolo por su ID único.",
        "parameters": [
          {
            "name": "IdContratoAnticipo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anticipo eliminado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.DeleteContratoAnticipo_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.DeleteContratoAnticipo_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.DeleteContratoAnticipo_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el anticipo a eliminar."
          }
        }
      }
    },
    "/api/ContratoAnticipo": {
      "post": {
        "tags": [
          "ContratoAnticipo"
        ],
        "summary": "Registra un nuevo anticipo para un contrato.",
        "description": "Este endpoint permite crear un nuevo registro de anticipo asociado a un contrato, especificando los datos requeridos como valor, fecha y referencia.",
        "requestBody": {
          "description": "Datos del anticipo a registrar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.AddContratoAnticipo_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.AddContratoAnticipo_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.AddContratoAnticipo_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Anticipo registrado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.AddContratoAnticipo_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.AddContratoAnticipo_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.AddContratoAnticipo_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o faltantes en la solicitud."
          }
        }
      },
      "put": {
        "tags": [
          "ContratoAnticipo"
        ],
        "summary": "Actualiza la información de un anticipo de contrato existente.",
        "description": "Este endpoint permite modificar los datos de un anticipo previamente registrado, como el valor, la fecha o la referencia.",
        "requestBody": {
          "description": "Datos actualizados del anticipo.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.UpdateContratoAnticipo_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.UpdateContratoAnticipo_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.UpdateContratoAnticipo_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Anticipo actualizado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.UpdateContratoAnticipo_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.UpdateContratoAnticipo_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoAnticipo.Commands.UpdateContratoAnticipo_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el anticipo a actualizar."
          },
          "400": {
            "description": "Datos inválidos en la solicitud."
          }
        }
      }
    },
    "/api/ContratoCums/ByIdContrato/{IdContrato}": {
      "get": {
        "tags": [
          "ContratoCums"
        ],
        "summary": "Obtiene la lista de CUMS asociados a un contrato específico.",
        "description": "Este endpoint permite consultar todos los CUMS registrados para un contrato, filtrando por el identificador del contrato.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de CUMS obtenida exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Queries.ListContratoCumsByIdContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Queries.ListContratoCumsByIdContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Queries.ListContratoCumsByIdContrato_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontraron CUMS para el contrato especificado."
          }
        }
      }
    },
    "/api/ContratoCums/{IdContratoCums}": {
      "get": {
        "tags": [
          "ContratoCums"
        ],
        "summary": "Obtiene el detalle de un CUMS de contrato por su identificador.",
        "description": "Este endpoint devuelve la información detallada de un CUMS de contrato específico, incluyendo datos de medicamento o insumo.",
        "parameters": [
          {
            "name": "IdContratoCums",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle del CUMS obtenido exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Queries.DetailContratoCums_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Queries.DetailContratoCums_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Queries.DetailContratoCums_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el CUMS solicitado."
          }
        }
      },
      "delete": {
        "tags": [
          "ContratoCums"
        ],
        "summary": "Elimina un CUMS de contrato por su identificador.",
        "description": "Este endpoint permite eliminar un CUMS de contrato existente, identificándolo por su ID único.",
        "parameters": [
          {
            "name": "IdContratoCums",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CUMS eliminado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.DeleteContratoCums_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.DeleteContratoCums_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.DeleteContratoCums_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el CUMS a eliminar."
          }
        }
      }
    },
    "/api/ContratoCums": {
      "post": {
        "tags": [
          "ContratoCums"
        ],
        "summary": "Registra un nuevo CUMS para un contrato.",
        "description": "Este endpoint permite crear un nuevo registro de CUMS asociado a un contrato, especificando los datos requeridos como código, descripción y cantidad.",
        "requestBody": {
          "description": "Datos del CUMS a registrar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContratoCums_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContratoCums_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContratoCums_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CUMS registrado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContratoCums_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContratoCums_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.AddContratoCums_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o faltantes en la solicitud."
          }
        }
      },
      "put": {
        "tags": [
          "ContratoCums"
        ],
        "summary": "Actualiza la información de un CUMS de contrato existente.",
        "description": "Este endpoint permite modificar los datos de un CUMS previamente registrado, como el código, la descripción o la cantidad.",
        "requestBody": {
          "description": "Datos actualizados del CUMS.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContratoCums_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContratoCums_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContratoCums_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CUMS actualizado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContratoCums_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContratoCums_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.Contrato.Commands.UpdateContratoCums_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el CUMS a actualizar."
          },
          "400": {
            "description": "Datos inválidos en la solicitud."
          }
        }
      }
    },
    "/api/ContratoCumsModalidadPago/{IdContratoCumsModalidadPago}": {
      "get": {
        "tags": [
          "ContratoCumsModalidadPago"
        ],
        "summary": "Obtiene el detalle de una modalidad de pago de CUMS de contrato por su identificador.",
        "description": "Este endpoint devuelve la información detallada de una modalidad de pago asociada a un CUMS de contrato específico.",
        "parameters": [
          {
            "name": "IdContratoCumsModalidadPago",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle de la modalidad de pago obtenido exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoCumsModalidadPago.Queries.DetailContratoCumsModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoCumsModalidadPago.Queries.DetailContratoCumsModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoCumsModalidadPago.Queries.DetailContratoCumsModalidadPago_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la modalidad de pago solicitada."
          }
        }
      },
      "delete": {
        "tags": [
          "ContratoCumsModalidadPago"
        ],
        "summary": "Elimina una modalidad de pago de CUMS de contrato por su identificador.",
        "description": "Este endpoint permite eliminar una modalidad de pago asociada a un CUMS de contrato, identificándola por su ID único.",
        "parameters": [
          {
            "name": "IdContratoCumsModalidadPago",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Modalidad de pago eliminada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.DeleteContratoCumsModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.DeleteContratoCumsModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.DeleteContratoCumsModalidadPago_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la modalidad de pago a eliminar."
          }
        }
      }
    },
    "/api/ContratoCumsModalidadPago": {
      "post": {
        "tags": [
          "ContratoCumsModalidadPago"
        ],
        "summary": "Registra una nueva modalidad de pago para un CUMS de contrato.",
        "description": "Este endpoint permite crear un nuevo registro de modalidad de pago asociada a un CUMS de contrato, especificando los datos requeridos.",
        "requestBody": {
          "description": "Datos de la modalidad de pago a registrar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.AddContratoCumsModalidadPago_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.AddContratoCumsModalidadPago_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.AddContratoCumsModalidadPago_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modalidad de pago registrada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.AddContratoCumsModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.AddContratoCumsModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.AddContratoCumsModalidadPago_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o faltantes en la solicitud."
          }
        }
      },
      "put": {
        "tags": [
          "ContratoCumsModalidadPago"
        ],
        "summary": "Actualiza la información de una modalidad de pago de CUMS de contrato existente.",
        "description": "Este endpoint permite modificar los datos de una modalidad de pago previamente registrada para un CUMS de contrato.",
        "requestBody": {
          "description": "Datos actualizados de la modalidad de pago.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.UpdateContratoCumsModalidadPago_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.UpdateContratoCumsModalidadPago_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.UpdateContratoCumsModalidadPago_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modalidad de pago actualizada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.UpdateContratoCumsModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.UpdateContratoCumsModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCumsModalidadPago.Commands.UpdateContratoCumsModalidadPago_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la modalidad de pago a actualizar."
          },
          "400": {
            "description": "Datos inválidos en la solicitud."
          }
        }
      }
    },
    "/api/ContratoCups/ByIdContrato/{IdContrato}": {
      "get": {
        "tags": [
          "ContratoCups"
        ],
        "summary": "Obtiene la lista de CUPS asociados a un contrato específico.",
        "description": "Este endpoint permite consultar todos los CUPS registrados para un contrato, filtrando por el identificador del contrato.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de CUPS obtenida exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Queries.ListContratoCupsByIdContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Queries.ListContratoCupsByIdContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Queries.ListContratoCupsByIdContrato_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontraron CUPS para el contrato especificado."
          }
        }
      }
    },
    "/api/ContratoCups/{IdContratoCups}": {
      "get": {
        "tags": [
          "ContratoCups"
        ],
        "summary": "Obtiene el detalle de un CUPS de contrato por su identificador.",
        "description": "Este endpoint devuelve la información detallada de un CUPS de contrato específico, incluyendo datos del procedimiento o servicio.",
        "parameters": [
          {
            "name": "IdContratoCups",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle del CUPS obtenido exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Queries.DetailContratoCups_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Queries.DetailContratoCups_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Queries.DetailContratoCups_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el CUPS solicitado."
          }
        }
      },
      "delete": {
        "tags": [
          "ContratoCups"
        ],
        "summary": "Elimina un CUPS de contrato por su identificador.",
        "description": "Este endpoint permite eliminar un CUPS de contrato existente, identificándolo por su ID único.",
        "parameters": [
          {
            "name": "IdContratoCups",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CUPS eliminado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.DeleteContratoCups_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.DeleteContratoCups_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.DeleteContratoCups_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el CUPS a eliminar."
          }
        }
      }
    },
    "/api/ContratoCups": {
      "post": {
        "tags": [
          "ContratoCups"
        ],
        "summary": "Registra un nuevo CUPS para un contrato.",
        "description": "Este endpoint permite crear un nuevo registro de CUPS asociado a un contrato, especificando los datos requeridos como código, descripción y valor.",
        "requestBody": {
          "description": "Datos del CUPS a registrar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.AddContratoCups_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.AddContratoCups_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.AddContratoCups_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CUPS registrado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.AddContratoCups_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.AddContratoCups_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.AddContratoCups_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o faltantes en la solicitud."
          }
        }
      },
      "put": {
        "tags": [
          "ContratoCups"
        ],
        "summary": "Actualiza la información de un CUPS de contrato existente.",
        "description": "Este endpoint permite modificar los datos de un CUPS previamente registrado, como el código, la descripción o el valor.",
        "requestBody": {
          "description": "Datos actualizados del CUPS.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.UpdateContratoCups_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.UpdateContratoCups_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.UpdateContratoCups_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CUPS actualizado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.UpdateContratoCups_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.UpdateContratoCups_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCups.Commands.UpdateContratoCups_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el CUPS a actualizar."
          },
          "400": {
            "description": "Datos inválidos en la solicitud."
          }
        }
      }
    },
    "/api/ContratoCupsModalidadPago/{IdContratoCupsModalidadPago}": {
      "get": {
        "tags": [
          "ContratoCupsModalidadPago"
        ],
        "summary": "Obtiene el detalle de una modalidad de pago de CUPS de contrato por su identificador.",
        "description": "Este endpoint devuelve la información detallada de una modalidad de pago asociada a un procedimiento (CUPS) de contrato específico.",
        "parameters": [
          {
            "name": "IdContratoCupsModalidadPago",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle de la modalidad de pago obtenido exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoCupsModalidadPago.Queries.DetailContratoCupsModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoCupsModalidadPago.Queries.DetailContratoCupsModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoCupsModalidadPago.Queries.DetailContratoCupsModalidadPago_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la modalidad de pago solicitada."
          }
        }
      },
      "delete": {
        "tags": [
          "ContratoCupsModalidadPago"
        ],
        "summary": "Elimina una modalidad de pago de CUPS de contrato por su identificador.",
        "description": "Este endpoint permite eliminar una modalidad de pago asociada a un procedimiento (CUPS) de contrato, identificándola por su ID único.",
        "parameters": [
          {
            "name": "IdContratoCupsModalidadPago",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Modalidad de pago eliminada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.DeleteContratoCupsModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.DeleteContratoCupsModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.DeleteContratoCupsModalidadPago_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la modalidad de pago a eliminar."
          }
        }
      }
    },
    "/api/ContratoCupsModalidadPago": {
      "post": {
        "tags": [
          "ContratoCupsModalidadPago"
        ],
        "summary": "Registra una nueva modalidad de pago para un CUPS de contrato.",
        "description": "Este endpoint permite crear un nuevo registro de modalidad de pago asociada a un procedimiento (CUPS) de contrato, especificando los datos requeridos.",
        "requestBody": {
          "description": "Datos de la modalidad de pago a registrar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.AddContratoCupsModalidadPago_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.AddContratoCupsModalidadPago_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.AddContratoCupsModalidadPago_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modalidad de pago registrada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.AddContratoCupsModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.AddContratoCupsModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.AddContratoCupsModalidadPago_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o faltantes en la solicitud."
          }
        }
      },
      "put": {
        "tags": [
          "ContratoCupsModalidadPago"
        ],
        "summary": "Actualiza la información de una modalidad de pago de CUPS de contrato existente.",
        "description": "Este endpoint permite modificar los datos de una modalidad de pago previamente registrada para un procedimiento (CUPS) de contrato.",
        "requestBody": {
          "description": "Datos actualizados de la modalidad de pago.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.UpdateContratoCupsModalidadPago_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.UpdateContratoCupsModalidadPago_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.UpdateContratoCupsModalidadPago_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modalidad de pago actualizada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.UpdateContratoCupsModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.UpdateContratoCupsModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoCupsModalidadPago.Commands.UpdateContratoCupsModalidadPago_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la modalidad de pago a actualizar."
          },
          "400": {
            "description": "Datos inválidos en la solicitud."
          }
        }
      }
    },
    "/api/ContratoEstado/ByIdContrato/{IdContrato}": {
      "get": {
        "tags": [
          "ContratoEstado"
        ],
        "summary": "Obtiene el historial de estados asociados a un contrato específico.",
        "description": "Este endpoint permite consultar todos los estados registrados para un contrato, filtrando por el identificador del contrato.\nEl resultado incluye información detallada de cada cambio de estado, como fechas, observaciones y descripción del estado.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de estados obtenida exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoEstado.Queries.ListContratoEstadoByIdContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoEstado.Queries.ListContratoEstadoByIdContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoEstado.Queries.ListContratoEstadoByIdContrato_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontraron estados para el contrato especificado."
          }
        }
      }
    },
    "/api/ContratoEstado": {
      "post": {
        "tags": [
          "ContratoEstado"
        ],
        "summary": "Registra un nuevo cambio de estado para un contrato.",
        "description": "Este endpoint permite crear un nuevo registro de cambio de estado asociado a un contrato, especificando los datos requeridos como el código de estado, observación y fecha.",
        "requestBody": {
          "description": "Datos del cambio de estado a registrar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoEstado.Commands.AddContratoEstado_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoEstado.Commands.AddContratoEstado_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoEstado.Commands.AddContratoEstado_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cambio de estado registrado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoEstado.Commands.AddContratoEstado_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoEstado.Commands.AddContratoEstado_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoEstado.Commands.AddContratoEstado_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o faltantes en la solicitud."
          }
        }
      }
    },
    "/api/ContratoLiquidacion/ByIdContrato/{IdContrato}": {
      "get": {
        "tags": [
          "ContratoLiquidacion"
        ],
        "summary": "Obtiene la lista de liquidaciones asociadas a un contrato específico.",
        "description": "Este endpoint permite consultar todas las liquidaciones registradas para un contrato, filtrando por el identificador del contrato.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de liquidaciones obtenida exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Queries.ListContratoLiquidacionByIdContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Queries.ListContratoLiquidacionByIdContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Queries.ListContratoLiquidacionByIdContrato_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontraron liquidaciones para el contrato especificado."
          }
        }
      }
    },
    "/api/ContratoLiquidacion/{IdContratoLiquidacion}": {
      "get": {
        "tags": [
          "ContratoLiquidacion"
        ],
        "summary": "Obtiene el detalle de una liquidación de contrato por su identificador.",
        "description": "Este endpoint devuelve la información detallada de una liquidación de contrato específica, incluyendo valores, fechas y observaciones.",
        "parameters": [
          {
            "name": "IdContratoLiquidacion",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle de la liquidación obtenido exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Queries.DetailContratoLiquidacion_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Queries.DetailContratoLiquidacion_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Queries.DetailContratoLiquidacion_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la liquidación solicitada."
          }
        }
      },
      "delete": {
        "tags": [
          "ContratoLiquidacion"
        ],
        "summary": "Elimina una liquidación de contrato por su identificador.",
        "description": "Este endpoint permite eliminar una liquidación de contrato existente, identificándola por su ID único.",
        "parameters": [
          {
            "name": "IdContratoLiquidacion",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liquidación eliminada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.DeleteContratoLiquidacion_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.DeleteContratoLiquidacion_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.DeleteContratoLiquidacion_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la liquidación a eliminar."
          }
        }
      }
    },
    "/api/ContratoLiquidacion": {
      "post": {
        "tags": [
          "ContratoLiquidacion"
        ],
        "summary": "Registra una nueva liquidación para un contrato.",
        "description": "Este endpoint permite crear un nuevo registro de liquidación asociada a un contrato, especificando los datos requeridos como valores, fechas y observaciones.",
        "requestBody": {
          "description": "Datos de la liquidación a registrar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.AddContratoLiquidacion_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.AddContratoLiquidacion_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.AddContratoLiquidacion_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Liquidación registrada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.AddContratoLiquidacion_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.AddContratoLiquidacion_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.AddContratoLiquidacion_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o faltantes en la solicitud."
          }
        }
      },
      "put": {
        "tags": [
          "ContratoLiquidacion"
        ],
        "summary": "Actualiza la información de una liquidación de contrato existente.",
        "description": "Este endpoint permite modificar los datos de una liquidación previamente registrada, como valores, fechas u observaciones.",
        "requestBody": {
          "description": "Datos actualizados de la liquidación.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.UpdateContratoLiquidacion_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.UpdateContratoLiquidacion_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.UpdateContratoLiquidacion_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Liquidación actualizada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.UpdateContratoLiquidacion_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.UpdateContratoLiquidacion_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoLiquidacion.Commands.UpdateContratoLiquidacion_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la liquidación a actualizar."
          },
          "400": {
            "description": "Datos inválidos en la solicitud."
          }
        }
      }
    },
    "/api/ContratoModalidadPago/ByIdContrato/{IdContrato}": {
      "get": {
        "tags": [
          "ContratoModalidadPago"
        ],
        "summary": "Obtiene la lista de modalidades de pago asociadas a un contrato específico.",
        "description": "Este endpoint permite consultar todas las modalidades de pago registradas para un contrato, filtrando por el identificador del contrato.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de modalidades de pago obtenida exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Queries.ListContratoModalidadPagoByIdContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Queries.ListContratoModalidadPagoByIdContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Queries.ListContratoModalidadPagoByIdContrato_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontraron modalidades de pago para el contrato especificado."
          }
        }
      }
    },
    "/api/ContratoModalidadPago/{IdContratoModalidadPago}": {
      "get": {
        "tags": [
          "ContratoModalidadPago"
        ],
        "summary": "Obtiene el detalle de una modalidad de pago de contrato por su identificador.",
        "description": "Este endpoint devuelve la información detallada de una modalidad de pago asociada a un contrato específico.",
        "parameters": [
          {
            "name": "IdContratoModalidadPago",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle de la modalidad de pago obtenido exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Queries.DetailContratoModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Queries.DetailContratoModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Queries.DetailContratoModalidadPago_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la modalidad de pago solicitada."
          }
        }
      },
      "delete": {
        "tags": [
          "ContratoModalidadPago"
        ],
        "summary": "Elimina una modalidad de pago de contrato por su identificador.",
        "description": "Este endpoint permite eliminar una modalidad de pago asociada a un contrato, identificándola por su ID único.",
        "parameters": [
          {
            "name": "IdContratoModalidadPago",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Modalidad de pago eliminada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.DeleteContratoModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.DeleteContratoModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.DeleteContratoModalidadPago_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la modalidad de pago a eliminar."
          }
        }
      }
    },
    "/api/ContratoModalidadPago": {
      "post": {
        "tags": [
          "ContratoModalidadPago"
        ],
        "summary": "Registra una nueva modalidad de pago para un contrato.",
        "description": "Este endpoint permite crear un nuevo registro de modalidad de pago asociada a un contrato, especificando los datos requeridos.",
        "requestBody": {
          "description": "Datos de la modalidad de pago a registrar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.AddContratoModalidadPago_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.AddContratoModalidadPago_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.AddContratoModalidadPago_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modalidad de pago registrada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.AddContratoModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.AddContratoModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.AddContratoModalidadPago_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o faltantes en la solicitud."
          }
        }
      },
      "put": {
        "tags": [
          "ContratoModalidadPago"
        ],
        "summary": "Actualiza la información de una modalidad de pago de contrato existente.",
        "description": "Este endpoint permite modificar los datos de una modalidad de pago previamente registrada para un contrato.",
        "requestBody": {
          "description": "Datos actualizados de la modalidad de pago.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.UpdateContratoModalidadPago_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.UpdateContratoModalidadPago_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.UpdateContratoModalidadPago_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modalidad de pago actualizada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.UpdateContratoModalidadPago_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.UpdateContratoModalidadPago_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoModalidadPago.Commands.UpdateContratoModalidadPago_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la modalidad de pago a actualizar."
          },
          "400": {
            "description": "Datos inválidos en la solicitud."
          }
        }
      }
    },
    "/api/ContratoOperacion/ByIdContrato/{IdContrato}": {
      "get": {
        "tags": [
          "ContratoOperacion"
        ],
        "summary": "Obtiene la lista de operaciones asociadas a un contrato específico.",
        "description": "Este endpoint permite consultar todas las operaciones registradas para un contrato, filtrando por el identificador del contrato.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de operaciones obtenida exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Queries.ListContratoOperacionByIdContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Queries.ListContratoOperacionByIdContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Queries.ListContratoOperacionByIdContrato_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontraron operaciones para el contrato especificado."
          }
        }
      }
    },
    "/api/ContratoOperacion/{IdContratoOperacion}": {
      "get": {
        "tags": [
          "ContratoOperacion"
        ],
        "summary": "Obtiene el detalle de una operación de contrato por su identificador.",
        "description": "Este endpoint devuelve la información detallada de una operación de contrato específica, incluyendo datos relevantes de la transacción o movimiento.",
        "parameters": [
          {
            "name": "IdContratoOperacion",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle de la operación obtenido exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Queries.DetailContratoOperacion_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Queries.DetailContratoOperacion_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Queries.DetailContratoOperacion_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la operación solicitada."
          }
        }
      },
      "delete": {
        "tags": [
          "ContratoOperacion"
        ],
        "summary": "Elimina una operación de contrato por su identificador.",
        "description": "Este endpoint permite eliminar una operación de contrato existente, identificándola por su ID único.",
        "parameters": [
          {
            "name": "IdContratoOperacion",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación eliminada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.DeleteContratoOperacion_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.DeleteContratoOperacion_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.DeleteContratoOperacion_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la operación a eliminar."
          }
        }
      }
    },
    "/api/ContratoOperacion": {
      "post": {
        "tags": [
          "ContratoOperacion"
        ],
        "summary": "Registra una nueva operación para un contrato.",
        "description": "Este endpoint permite crear un nuevo registro de operación asociada a un contrato, especificando los datos requeridos.",
        "requestBody": {
          "description": "Datos de la operación a registrar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.AddContratoOperacion_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.AddContratoOperacion_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.AddContratoOperacion_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operación registrada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.AddContratoOperacion_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.AddContratoOperacion_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.AddContratoOperacion_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o faltantes en la solicitud."
          }
        }
      },
      "put": {
        "tags": [
          "ContratoOperacion"
        ],
        "summary": "Actualiza la información de una operación de contrato existente.",
        "description": "Este endpoint permite modificar los datos de una operación previamente registrada para un contrato.",
        "requestBody": {
          "description": "Datos actualizados de la operación.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.UpdateContratoOperacion_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.UpdateContratoOperacion_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.UpdateContratoOperacion_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operación actualizada exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.UpdateContratoOperacion_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.UpdateContratoOperacion_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Contrato.Features.ContratoOperacion.Commands.UpdateContratoOperacion_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró la operación a actualizar."
          },
          "400": {
            "description": "Datos inválidos en la solicitud."
          }
        }
      }
    },
    "/api/ContratoOtrosi": {
      "get": {
        "tags": [
          "ContratoOtrosi"
        ],
        "summary": "Obtiene la lista de todos los otrosí registrados en el sistema.",
        "description": "Este endpoint permite consultar todos los otrosí registrados, sin filtrar por contrato.",
        "responses": {
          "200": {
            "description": "Lista de otrosí obtenida exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Queries.ListContratoOtrosi_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Queries.ListContratoOtrosi_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Queries.ListContratoOtrosi_Result"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ContratoOtrosi"
        ],
        "summary": "Registra un nuevo otrosí para un contrato.",
        "description": "Este endpoint permite crear un nuevo registro de otrosí asociado a un contrato, especificando los datos requeridos.",
        "requestBody": {
          "description": "Datos del otrosí a registrar.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.AddContratoOtrosi_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.AddContratoOtrosi_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.AddContratoOtrosi_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Otrosí registrado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.AddContratoOtrosi_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.AddContratoOtrosi_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.AddContratoOtrosi_Result"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o faltantes en la solicitud."
          }
        }
      },
      "put": {
        "tags": [
          "ContratoOtrosi"
        ],
        "summary": "Actualiza la información de un otrosí de contrato existente.",
        "description": "Este endpoint permite modificar los datos de un otrosí previamente registrado, como fechas, valores u observaciones.",
        "requestBody": {
          "description": "Datos actualizados del otrosí.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.UpdateContratoOtrosi_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.UpdateContratoOtrosi_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.UpdateContratoOtrosi_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Otrosí actualizado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.UpdateContratoOtrosi_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.UpdateContratoOtrosi_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.UpdateContratoOtrosi_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el otrosí a actualizar."
          },
          "400": {
            "description": "Datos inválidos en la solicitud."
          }
        }
      }
    },
    "/api/ContratoOtrosi/ByIdContrato/{IdContrato}": {
      "get": {
        "tags": [
          "ContratoOtrosi"
        ],
        "summary": "Obtiene la lista de otrosí asociados a un contrato específico.",
        "description": "Este endpoint permite consultar todos los otrosí registrados para un contrato, filtrando por el identificador del contrato.",
        "parameters": [
          {
            "name": "IdContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de otrosí obtenida exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Queries.ListContratoOtrosiByIdContrato_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Queries.ListContratoOtrosiByIdContrato_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Queries.ListContratoOtrosiByIdContrato_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontraron otrosí para el contrato especificado."
          }
        }
      }
    },
    "/api/ContratoOtrosi/{IdContratoOtrosi}": {
      "get": {
        "tags": [
          "ContratoOtrosi"
        ],
        "summary": "Obtiene el detalle de un otrosí de contrato por su identificador.",
        "description": "Este endpoint devuelve la información detallada de un otrosí de contrato específico, incluyendo fechas, valores y observaciones.",
        "parameters": [
          {
            "name": "IdContratoOtrosi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle del otrosí obtenido exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Queries.DetailContratoOtrosi_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Queries.DetailContratoOtrosi_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Queries.DetailContratoOtrosi_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el otrosí solicitado."
          }
        }
      },
      "delete": {
        "tags": [
          "ContratoOtrosi"
        ],
        "summary": "Elimina un otrosí de contrato por su identificador.",
        "description": "Este endpoint permite eliminar un otrosí de contrato existente, identificándolo por su ID único.",
        "parameters": [
          {
            "name": "IdContratoOtrosi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Otrosí eliminado exitosamente.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.DeleteContratoOtrosi_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.DeleteContratoOtrosi_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Minsalud.SIIFA.API.Features.ContratoOtrosi.Commands.DeleteContratoOtrosi_Result"
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el otrosí a eliminar."
          }
        }
      }
    },
    "/api/ContratoOtrosiCums/ByIdContratoOtrosi/{IdContratoOtrosi}": {
      "get": {
        "tags": [
          "ContratoOtrosiCums"
        ],
        "summary": "Obtiene la lista de CUMS asociados a un otrosí específico.",
[...]
