{
  "openapi": "3.0.1",
  "info": {
    "title": "MinSalud.SIIFA.API.Seguridad",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://siifa.sispropreprod.gov.co/siifaseg"
    }
  ],
  "paths": {
    "/api/Auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.Auth.Commands.Login_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.Auth.Commands.Login_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.Auth.Commands.Login_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.Auth.Commands.Login_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.Auth.Commands.Login_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.Auth.Commands.Login_Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/GetUserList": {
      "post": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserList_Query"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserList_Query"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserList_Query"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserList_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserList_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserList_Result"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/User/{UserId}": {
      "get": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserById_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserById_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserById_Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.DeleteUser_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.DeleteUser_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.DeleteUser_Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/User": {
      "post": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.AddUser_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.AddUser_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.AddUser_Command"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.AddUser_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.AddUser_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.AddUser_Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.UpdateUser_Command"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.UpdateUser_Command"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.UpdateUser_Command"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.UpdateUser_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.UpdateUser_Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Commands.UpdateUser_Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/WeatherForecast": {
      "get": {
        "tags": [
          "WeatherForecast"
        ],
        "operationId": "GetWeatherForecast",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.WeatherForecast"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.WeatherForecast"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.WeatherForecast"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Microsoft.AspNetCore.Mvc.ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "MinSalud.SIIFA.API.Seguridad.Features.Auth.Commands.Login_Command": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.Auth.Commands.Login_Result": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "token": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.User.Commands.AddUser_Command": {
        "type": "object",
        "properties": {
          "primerNombre": {
            "type": "string",
            "nullable": true
          },
          "segundoNombre": {
            "type": "string",
            "nullable": true
          },
          "primerApellido": {
            "type": "string",
            "nullable": true
          },
          "segundoApellido": {
            "type": "string",
            "nullable": true
          },
          "tipoDocumento": {
            "type": "string",
            "nullable": true
          },
          "numeroDocumento": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "nitEntidad": {
            "type": "string",
            "nullable": true
          },
          "rolesSolicitados": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.User.Commands.AddUser_Result": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "nullable": true
          },
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.User.Commands.DeleteUser_Result": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.User.Commands.UpdateUser_Command": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "nullable": true
          },
          "primerNombre": {
            "type": "string",
            "nullable": true
          },
          "primerApellido": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.User.Commands.UpdateUser_Result": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserById_Result": {
        "type": "object",
        "properties": {
          "idUsuario": {
            "type": "string",
            "nullable": true
          },
          "primerNombre": {
            "type": "string",
            "nullable": true
          },
          "segundoNombre": {
            "type": "string",
            "nullable": true
          },
          "primerApellido": {
            "type": "string",
            "nullable": true
          },
          "segundoApellido": {
            "type": "string",
            "nullable": true
          },
          "tipoDocumento": {
            "type": "string",
            "nullable": true
          },
          "numeroDocumento": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "twoFactorEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "userRoles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserById_UserRoles"
            },
            "nullable": true
          },
          "userClaims": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserById_UserClaims"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserById_UserClaims": {
        "type": "object",
        "properties": {
          "claimType": {
            "type": "string",
            "nullable": true
          },
          "claimValue": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserById_UserRoles": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserList_Query": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "documento": {
            "type": "string",
            "nullable": true
          },
          "numPagina": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "registrosPagina": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "sortColumn": {
            "type": "string",
            "nullable": true
          },
          "sortOrden": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.Features.User.Queries.GetUserList_Result": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "nullable": true
          },
          "userName": {
            "type": "string",
            "nullable": true
          },
          "primerNombre": {
            "type": "string",
            "nullable": true
          },
          "segundoNombre": {
            "type": "string",
            "nullable": true
          },
          "primerApellido": {
            "type": "string",
            "nullable": true
          },
          "segundoApellido": {
            "type": "string",
            "nullable": true
          },
          "tipoDocumento": {
            "type": "string",
            "nullable": true
          },
          "numeroDocumento": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "userRoles": {
            "type": "string",
            "nullable": true
          },
          "userClaims": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MinSalud.SIIFA.API.Seguridad.WeatherForecast": {
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/System.DateOnly"
          },
          "temperatureC": {
            "type": "integer",
            "format": "int32"
          },
          "temperatureF": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "System.DateOnly": {
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "format": "int32"
          },
          "month": {
            "type": "integer",
            "format": "int32"
          },
          "day": {
            "type": "integer",
            "format": "int32"
          },
          "dayOfWeek": {
            "$ref": "#/components/schemas/System.DayOfWeek"
          },
          "dayOfYear": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "dayNumber": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "System.DayOfWeek": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6
        ],
        "type": "integer",
        "format": "int32"
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Por favor ingrese un token válido",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}